# docker-compose.yml設定

# Dockerで利用する環境変数 ##
export PROJECT_ROOT=$(pwd)
# プロジェクト名
export PROJECT_NAME=sample

# .devcontainerから$PROJECT_NAMEの置き換わるパス
export PROJECT_NAME_DIR_PATH="${PROJECT_ROOT}/.${PROJECT_NAME}"

# この環境変数にプロジェクトのマウント先のディレクトリパスを記述する
# このパスがDockerコンテナのエントリーポイントとなる
export VOLUME_PATH="${PROJECT_NAME_DIR_PATH}/python/html" 

export APP_NAME="$PROJECT_NAME"
export DB_DATABASE="${PROJECT_NAME}_db"
export DB_USER=user
export DB_PASSWORD=password
export PASSWORD=password
export USER=user

# 128Mの形式で指定する
export MEMORY_LIMIT=128M
export UPLOAD_LIMIT=64M

# PhpMyadmin servic 公開側ポート
export PHP_MYADMIN_PUBLIC_PORT=29300
# proxy service 公開側ポート
export PROXY_PUBLIC_PORT=29301
export PROXY_SSL_PORT=29302
export PYTHON_PORT=29303
