# SSLのときはアンコメントアウト
# server {
#   listen       80;
#   return 301 https://$host:${PROXY_SSL_PORT}$request_uri;
# }
server {
    listen       80; # ←SSLのときはコメントアウト
    # listen 443 ssl;
    # listen [::]:443 ssl;
    
    server_name  127.0.0.1;
    client_max_body_size 2m;

    # ssl_certificate /etc/nginx/ssl/localhost.pem; # サーバ証明書
    # ssl_certificate_key /etc/nginx/ssl/localhost-key.pem; # 秘密鍵

    access_log /dev/stdout;
    error_log  /dev/stderr;

    root   /var/www/html/${PROJECT_NAME}/templates;

	# 静的ファイルを配置する場合
    location / {
        index  index.html index.htm;
    }

	# python jsを利用する場合は下記で設定
    # location /.next/ {
        # proxy_set_header Host $host;
        # proxy_set_header X-Real-IP $remote_addr;
        # proxy_pass http://localhost:3000;  # Next.jsアプリの実行ポートに合わせて設定
    # } 
}
