/** @type {import('next').NextConfig} */

const isDevelopmet = process.env.python_ENV !== 'production'    
const nextConfig = {
  // output/index.htmlを生成する場合は下記を追記
  output: 'export',
  images: {
    unoptimized: true
  },
	assetPrefix: isDevelopmet ? '' : '',   
}


module.exports = nextConfig
